body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ececec; /* Cor sólida de fundo */
  overflow: hidden;
}

.box .BG {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}